.word-activty, .phrase-activity {
  .puzzle-step {
    .keyboard-catcher {
      outline: none;
    }
    li {
      list-style: none;
      border: 1px dotted #777;
      padding: 0 8px;
      margin: 6px;
      margin-right: 0;
      min-width: 2rem;
      min-height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      cursor: pointer;
      background-color: #fff;
    }
    .puzzle {
      background-color: #ccc;
      li {
        border-style: none;
      }
    }
    .puzzle, .letters, .words {
      min-height: calc(3rem + 12px);
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      user-select: none;
    }
  }
}
// .phrase-activity {
//   .puzzle-step {
//     .keyboard-catcher {
//       outline: none;
//     }
//     li {
//       list-style: none;
//       border: 1px dotted #777;
//       margin: 6px;
//       margin-right: 0;
//       padding: 0 8px;
//       min-width: 2rem;
//       min-height: 3rem;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       text-transform: uppercase;
//       cursor: pointer;
//       background-color: #fff;
//     }
//     .puzzle {
//       background-color: #ccc;
//     }
//     .puzzle, .words {
//       min-height: 4rem;
//       list-style: none;
//       margin: 0;
//       padding: 0;
//       display: flex;
//       flex-direction: row;
//       flex-wrap: wrap;
//       user-select: none;
//     }
//   }
// }