.side-panel {
  .background {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    transform: translateY(-100%);
    z-index: 7;
    opacity: 0;
    transition: opacity 200ms ease;
    &.show {
      backdrop-filter: saturate(10%) blur(5px);
      transform: translateY(0);
      opacity: 1;
      .side-panel {
        transform: translateX(0);
      }
    }
  }
  .side-panel {
    transition: transform 200ms ease;
    position: fixed;
    top: 0;
    height: 100vh;
    background-color: #ffffff;
    z-index: 8;
    padding: 32px;
    &.left {
      transform: translateX(-100vw);
      left: 0;
    }
    &.right {
      transform: translateX(100vw);
      right: 0;
    }
    &.close {
      padding-top: 80px;
    }
    .close-control {
      position: absolute;
      top: 16px;
      right: 32px;
      width: 32px;
      height: 32px;
      font-size: 32px;
      color: currentColor;
      cursor: pointer;
    }
  }
}
