@import "@/variables.scss";
@import "@/animations.scss";
$enable-rounded: false;
$enable-shadows: false;

@import "bootstrap/scss/bootstrap";

a {
  text-decoration: none;
  outline: none;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}
